body{
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
   margin: 0;
}

/* ------baggrundsbillede------ */
.body__index{
    background-color:#879FA3;
    background-image: url(images/background-img.png);
    display: grid;
    grid-template-columns: 1fr;
}

/* ----navbar----*/
.navbar__logo{
    position: relative;
    padding: 26px;}

.navbar {
    display: flex;
    justify-content: space-between;
  background: white;}

.navbar__menu {
    display: flex;
    gap: 64px;
    margin: 26px 26px 26px 0;}

.hamburger {
    display: none;}

.hamburger__bar {
    display: block;
    width: 40px;
    height: 5px;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #BE323E;}

.menuItem {
    list-style: none;}

.menuItem__link {
    color: #BE323E;
    text-decoration: none;
    font-size: 36px;}

.menuItem__link:hover {
    color: #451015;}

/* telefon */
@media (max-width: 1050px) {
    .navbar__menu {
        position: fixed;
        left: -200%;
        top: 71px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);}

    .navbar__menu.active {
        left: 0;
        padding: 28px;}

    .hamburger {
        display: block;
        cursor: pointer;
        padding: 28px;}

    .hamburger.active .hamburger__bar:nth-child(2) {
        opacity: 0;}

    .hamburger.active .hamburger__bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);}

    .hamburger.active .hamburger__bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);}}

.header{
    container-type: inline-size;
    container-name: header;}

/* ipad */
@container header (min-width: 1020px){
    .menuItem__link{
        font-size: 25px;}}
/* desktop */
@container header (min-width: 1280px){
    .menuItem__link{
        font-size: 36px;}}

/* ------Herosection----*/

.hero{
    margin-top: -105px;}

.hero__image{
    width: 100%;
    min-height: 450px;}

.hero__headers{
    padding-left: 28px;
    color: white; 
    font-size: 38px;
    margin-top: -40%;
    margin-bottom: 30%;}

.hero__header{
    margin: 5px;}

.hero__header--event{
    margin-top: 15%;
}
/*ipad*/

@media (min-width: 915px){
    .hero__headers{
        font-size: 60px;}
}
/*desktop*/

@media (min-width: 1280px){
    .hero__headers{
        font-size: 120px;}
    }


/* ----- Inspiration ----- */

.inspiration{
    background: rgba(255, 255, 255, 0.50); 
    padding-bottom: 50px;
    margin-bottom: 28px;
    max-width: 100%;
}

.inspiration__header{
    font-size: 26px;
    text-align: center;
}

.inspiration__info{
    margin: 0 34px 26px 34px ;
    font-family: Montserrat;
    font-size: 18px;
}

.inspiration__info--bold{
    font-weight: 700;
}


/* ipad/desktop */
@media (min-width: 915px){
    .inspiration__header{
        font-size: 40px;
    }
    .inspiration__info{
        font-size: 24px;
    }
}

/* ----info cards----*/

.cards{
    padding-top: 10px;}

.card{
    background-color:rgba(255, 255, 255, 0.50) ;
    padding: 28px 28px 48px 28px;
    margin: 18px;
    border-radius: 25px;}

.card__header{
    color:#809638;
    margin: 0 0 16px 0;
    font-size: 36px;}

.card__header--second{
    color: #395473;}

.card__header--third{
    color: #F69323;}

.card__header--fourth{
    color: #BE323E;
}

.card__header--fifth{
    color: #188165;
}
.card__info{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 18px;}



.card__info--listItem{
    font-family: Montserrat;
    font-size: 18px;
}

.card__logos{
    height: 70px;
}

.card__logo{
    height: 40px;
    margin-right: 5px;
}

@media(min-width:950px){

.cards{
    display: grid;
    gap: 80px;
}
.card{
display: grid;
grid-template-columns: 1fr 1fr;
}
.card__header--first{
    grid-column: 3;
}

.carousel__second{
   margin: 0 0 0 auto;
   width: 100%;
    grid-column: 2;
    grid-row: 1 / span 4;
}
.card__info__second{
    display: flex;
    flex-grow: 1;
    min-height: 100%;
}
.button__aktivNatur{
    margin: 0 0 0 auto;
}
.button__kulturHistorie{
    margin: 0 0 0 auto;
}

}



/* ----Button-----*/

.button__primary {
    font-family: "Jockey One", sans-serif;
    background-color: #be323e;
    color: white;
    border: none;
    padding: 10px 60px;
    font-size: 26px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 6px 0 #932730, 0 10px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.1s ease;
    text-decoration: none;
    display: flex;
    max-width: 100px;
    justify-content: center;
    height: 40px;
}
    
  
  .button__primary:hover {
    background-color: rgb(198, 96, 96);
    box-shadow: 0 6px 0 #b64a50, 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  
  .button__primary:active {
    transform: translateY(6px);
    box-shadow: 0 0 0 #932730, 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #932730;}

.button__inspiration{
   margin: auto;
}

.button__aktivNatur{
    background-color:#809638;
    box-shadow: 0 6px 0 #5E6F24, 0 10px 15px rgba(0, 0, 0, 0.2);}
.button__aktivNatur:hover{
    background-color: #b7cd6f;
    box-shadow: 0 6px 0 #809638, 0 10px 15px rgba(0, 0, 0, 0.2);}
.button__aktivNatur:active{
    transform: translateY(6px);
    box-shadow: 0 0 0 #5c6d25, 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #5c6d25;
}

.button__forHeleFamilien{
    background-color: #395473;
    box-shadow: 0 6px 0 #223245, 0 10px 15px rgba(0, 0, 0, 0.2);}
.button__forHeleFamilien:hover{
    background-color: #4d6b81;
    box-shadow: 0 6px 0 #285473, 0 10px 15px rgba(0, 0, 0, 0.2);}
.button__forHeleFamilien:active{
    transform: translateY(6px);
    box-shadow: 0 0 0 #163c57, 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #163c57;
}

.button__kulturHistorie{
    background-color: #F69323;
    box-shadow: 0 6px 0 #C87B24, 0 10px 15px rgba(0, 0, 0, 0.2);}
.button__kulturHistorie:hover{
    background-color: #f6b66c;
    box-shadow: 0 6px 0 #F69323, 0 10px 15px rgba(0, 0, 0, 0.2);}
.button__kulturHistorie:active{
    transform: translateY(6px);
    box-shadow: 0 0 0 #9a5b13, 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #9a5b13;}

.button__kombiBillet{
    background-color: #188165;
    box-shadow: 0 6px 0 #0f644d, 0 10px 15px rgba(0, 0, 0, 0.2);}
.button__kombiBillet:hover{
    background-color: #28b28d;
    box-shadow: 0 6px 0 #188165, 0 10px 15px rgba(0, 0, 0, 0.2);}
.button__kombiBillet:active{
    transform: translateY(6px);
    box-shadow: 0 0 0 #115f4a, 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #115f4a;}

/* ----image slider----*/

.carousel{
    overflow: hidden;
    position: relative;
   
}
.img__container{
    height: 100%;
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;  
}

.img__container img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.btn{
    position: absolute;
    bottom: 38%;
    width: 70px;
    height: 70px;
    background-color:rgba(255, 255, 255, 0.50);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-left{
    left: 20px;
}

.btn-right{
    right: 20px;
}

.btn:hover{
    background-color: rgba(0,0,0,0.5);
}





/* ------- footer ------*/
