body {
  display: flex;
  flex-direction: column;
  background: #879fa3;
  background-image: url(images/baggrund-img.png);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/* ----navbar----*/
.navbar__logo {
  position: relative;
  padding: 26px;
}

.navbar {
  display: flex;
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  position: relative;
  z-index: 3;
}

.navbar__menu {
  display: flex;
  gap: 64px;
  margin: 26px 26px 26px 0;
  position: relative;
  z-index: 4;
}

.hamburger {
  display: none;
  position: relative;
  z-index: 5;
}

.hamburger__bar {
  display: block;
  width: 40px;
  height: 5px;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
  background-color: #be323e;
}

.menuItem {
  list-style: none;
}

.menuItem__link {
  color: #be323e;
  text-decoration: none;
  font-size: 36px;
}

.menuItem__link:hover {
  color: #451015;
}

/* Mobile view */
@media (max-width: 1000px) {
  .navbar__menu {
    position: fixed;
    left: -200%;
    top: 71px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 4;
  }

  .navbar__menu.active {
    left: 0;
    padding: 28px;
    z-index: 6;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 28px;
  }

  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .hamburger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.header {
  container-type: inline-size;
  container-name: header;
  position: relative;
  z-index: 10;
}

/* iPad */
@container header (min-width: 1000px) {
  .menuItem__link {
    font-size: 25px;
  }
}

/* Desktop */
@container header (min-width: 1280px) {
  .menuItem__link {
    font-size: 36px;
  }
}

/* ------Herosection----*/

.hero__image {
  width: 100%;
  position: absolute;
  min-height: 450px;
  z-index: -1;
  top: 0;
}

.hero__headers {
  position: relative;
  padding-left: 28px;
  margin: 23% 0 23% 0;
  color: white;
  font-size: 38px;
  z-index: -1;
}

.hero__header {
  margin: 0;
}

/* iPad */
@media (min-width: 915px) {
  .hero__headers {
    font-size: 60px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .hero__headers {
    font-size: 100px;
  }
}

/* ------Main Content------ */

/* ----Info Cards----*/

.text__container {
  margin: 20px 0;
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding-left: 10%;
}

.test__headline {
  font-size: 24px;
  color: white;
  text-align: left;
}

.test__description {
  color: white;
  text-align: left;
  font-size: 20px;
}

/* Undgå text selection */
.no__select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Image/comparison slider */ /* https://codepen.io/luiscolome/pen/mdJeWJy */
.comparison__slider {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid black;
  z-index: 1;
}

.comparison-slider__image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.comparison-slider__image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
}

.comparison-slider__image--left {
  clip: rect(
    0,
    50%,
    100%,
    0
  ); /* Starter med at vise halvdelen af venstre billede */
}

.comparison-slider__image--right {
  clip: rect(
    0,
    100%,
    100%,
    50%
  ); /* Starter med at vise halvdelen af højre billede */
}

.comparison-slider__handle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%; /* "Håndtaget" starter i midten af slideren */
  z-index: 2;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.comparison-slider__handle::before {
  content: "";
  width: 40px;
  height: 40px;
  background: #00000070;
  border: 3px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.comparison-slider__handle::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: #000;
  transform: translateX(-50%);
}

/* Fælles class til pilene i "håndtaget */
.comparison-slider__handle .arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.comparison-slider__handle .arrow--left {
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  left: 8px;
}

.comparison-slider__handle .arrow--right {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
  right: 8px;
}

/* Fælles class til teksten i billederne i comparison slideren */
.comparison-slider__label {
  position: absolute;
  color: #fff;
  font-size: 26px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 5px;
  font-family: "Jockey One", sans-serif;
}

.comparison-slider__label--left {
  top: 15px;
  right: 15px;
}

.comparison-slider__label--right {
  top: 15px;
  left: 15px;
}

.button__container {
  margin: 20px 0;
}

.button__primary {
  font-family: "Jockey One", sans-serif;
  background-color: #be323e;
  color: white;
  border: none;
  padding: 10px 60px;
  font-size: 26px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 6px 0 #932730, 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease, box-shadow 0.1s ease,
    background-color 0.1s ease;
  text-decoration: none;
}

/* Gør både knappen og box shadow lysere under "hover" */
.button__primary:hover {
  background-color: rgb(198, 96, 96);
  box-shadow: 0 6px 0 #b64a50, 0 10px 15px rgba(0, 0, 0, 0.2);
}

.button__primary:active {
  transform: translateY(6px);
  box-shadow: 0 0 0 #932730, 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #932730;
}

.SoMe__container {
  background-color: #be323e;
  bottom: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  font-size: 18px;
}

.SoMe__logo {
  width: 50px;
}

.SoMe__logo--facebook {
  width: 35px; /* Facebook logoet var større, den her gør det mindre */
}

.footer {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  margin-top: 80px;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  text-align: left;
}

.footer__section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

/* Fjerner hyperlink udseende */
.footer a {
  text-decoration: none;
  color: #000;
}

.information__text {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

/* Tilføjer mere plads mellem links */
.information__text li {
  margin-bottom: 10px;
}

.footer__bottom {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__bottom p {
  padding-bottom: 10px;
}

/* Results Page */

.main-content__resultsPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* mellemrum mellem kort */
}

.resultsPage__intro-card {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  margin-top: 45px;
}

.resultsPage__intro-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.resultsPage__card {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  text-align: center;
  margin: 10px;
  padding-bottom: 30px;
}

.resultsPage-card__header {
  margin: 0;
}

.resultsPage-card__image {
  padding-top: 30px;
  width: 80%;
}

.resultsPage-card__body {
  padding: 20px;
}

.resultsPage-card__title {
  font-size: 20px;
  margin: 0 0 10px;
}

.resultsPage-card__description {
  font-size: 14px;
  color: #555;
  margin: 0 0 30px;
}
